<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.udemy.uberclone">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CloneUber">
        <activity
            android:name="com.udemy.uberclone.Views.client.HistoryBookingClientActivity"
            android:parentActivityName="com.udemy.uberclone.Views.client.MapClientActivity"
            android:exported="false" />
        <activity
            android:name="com.udemy.uberclone.Views.client.CalificationDriverActivity"
            android:exported="false" />
        <activity
            android:name="com.udemy.uberclone.Views.driver.CalificationClientActivity"
            android:exported="false" />
        <activity
            android:name="com.udemy.uberclone.Views.driver.MapDriverBookingActivity"
            android:exported="false" />
        <activity
            android:name="com.udemy.uberclone.Views.client.MapClientBookingActivity"
            android:exported="false" />

        <service
            android:name="com.udemy.uberclone.WebServices.MyFirebaseMessagingClient"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <receiver
            android:name="com.udemy.uberclone.Utils.receivers.AcceptReceiver"
            android:enabled="true" />
        <receiver
            android:name="com.udemy.uberclone.Utils.receivers.CancelReceiver"
            android:enabled="true" />

        <activity
            android:name="com.udemy.uberclone.Views.client.RequestDriverActivity"
            android:exported="false" />
        <activity
            android:name="com.udemy.uberclone.Views.client.DetailRequestActivity"
            android:exported="false"
            android:parentActivityName="com.udemy.uberclone.Views.client.MapClientActivity" />
        <activity
            android:name="com.udemy.uberclone.Views.driver.MapDriverActivity"
            android:exported="false" />
        <activity
            android:name="com.udemy.uberclone.Views.client.MapClientActivity"
            android:exported="false" />
        <activity
            android:name="com.udemy.uberclone.Views.LoginActivity"
            android:exported="false"
            android:parentActivityName="com.udemy.uberclone.Views.OptionAuthActivity" />
        <activity
            android:name="com.udemy.uberclone.Views.client.RegisterActivity"
            android:exported="false"
            android:parentActivityName="com.udemy.uberclone.Views.OptionAuthActivity" />
        <activity
            android:name="com.udemy.uberclone.Views.driver.RegisterDriverActivity"
            android:exported="false"
            android:parentActivityName="com.udemy.uberclone.Views.OptionAuthActivity" />
        <activity
            android:name="com.udemy.uberclone.Views.OptionAuthActivity"
            android:exported="false"
            android:parentActivityName="com.udemy.uberclone.Views.MainActivity" />
        <activity
            android:name="com.udemy.uberclone.Views.MainActivity"
            android:theme="@style/SplashTheme"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDlJ7eiVJmglVBEm2xhq4mhgFsD878gEy4" />
    </application>

</manifest>